<div id="<%= dom_id article %>">
  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= article.status %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= article.published %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= article.publish_date %>
  </p>

</div>
